
mat-card.componente
    mat-toolbar
        mat-toolbar-row(style="justify-content : space-between")
            .titulo
                h3 listaProyectosInversionistas
                strong Paginación
    mat-accordion(*ngFor="let proyecto of proyectos")
        mat-expansion-panel
            mat-expansion-panel-header
                mat-panel-title
                    h4 {{proyecto.nombre}}
            .inversionista
                p Monto Invertido: ${{proyecto.Inversionista.monto}}