@import  '../../../../../defaults.styl'
.registro-home-container
    margin-top 100px
    display flex
    justify-content center
    align-items center
    background-image linear-gradient(to right, #003B94 , #009A8C)
    .registro-home-content
        width 50%
        display flex
        flex-direction column
        justify-content center
        align-items center
        .formulario-home-registro
            .formulario
                .correo
                    height 27px
                    width 242px
                    margin-right 15px