/* You can add global styles to this file, and also import other style files */
@import url('//fonts.googleapis.com/icon?family=Material+Icons')
@import url('//fonts.googleapis.com/css?family=Overlock:400,700,400italic,700italic|Calligraffitti')
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
@import '_mat-theme.css'

body
    margin 0px
