
@import  '../../../../defaults.styl'

.nosotros-container
    display flex
    justify-content center
    .nosotros-content
        width 1300px
        .arriba
            height 650px
            position relative
            .imagen-fondo
                width 100%
                background-image: url("/assets/images/casa-nosotros.jpg");
                background-position center
                background-size cover
                background-repeat no-repeat
                height 500px
            .barra-nosotros
                height 150px
                width 100%
                background-image linear-gradient(to right, #003B94 , #009A8C)
            nosotrosHome
                position absolute
                left 50%
                top 50%
                transform translate(-50%, -50%)
                -webkit-transform translate(-50%, -50%)