
mat-card.componente
    h1 perfilContratista
    p perfil
    formularioContratistas([usuario]="usuario")
    formularioRestante([contratista]="contratista", [arquitecto]="arquitecto", [constructora]="constructora")
    listaProyectosContratistas([proyectos]="proyectos")