.perfil-contratista
    formularioContratistas([usuario]="usuario")
    formularioRestante([contratista]="contratista", [arquitecto]="arquitecto", [constructora]="constructora")
    listaProyectosContratistas([proyectos]="proyectos")