
mat-card.componente
    h1 perfilinversionista
    p perfil
    formularioInversionistas([usuario]="usuario")
    //-formularioRestante([inversionista]="inversionista")
    listaProyectosInversionistas([proyectos]="proyectos")