mat-card.componente
    .foto-perfil
        .barra-editar-foto-inversionista
            button(mat-button, (click)="editarFoto()")
                span(*ngIf="!edicionFoto") Editar
                mat-icon(*ngIf="!edicionFoto") edit
                span(*ngIf="edicionFoto") Cancelar
                mat-icon(*ngIf="edicionFoto") clear
        .subir-foto
            .imagen-container(*ngIf="!edicionFoto")
                .imagen(*ngIf="carga==false")
                    img([src]="fotoPerfil")
                mat-spinner(*ngIf="carga==true")
                h4 Foto de Perfil
            .inputs(*ngIf="edicionFoto")
                dropify([(ngModel)]="file")
                button.btn-dropify(mat-icon-button, (click)="guardarFoto()")
                    mat-icon save
    .informacion-basica
        .barra-editar-inversionista
            button(mat-button, (click)="editarInversionista()")
                span(*ngIf="!edicion") Editar
                mat-icon(*ngIf="!edicion") edit
                span(*ngIf="edicion") Cancelar
                mat-icon(*ngIf="edicion") clear
        .usuario-inverionista
            .antes-edicion(*ngIf="!edicion")
                p {{usuario?.nombre}}
                p {{usuario?.apellido}}
                p {{usuario?.correo}}
            .edicion(*ngIf="edicion")
                form.formulario(class="example-form")
                    mat-form-field
                        input(matInput, placeholder="Nombre", [(ngModel)]="usuario.nombre",  name="nombre")
                    mat-form-field
                        input(matInput, placeholder="Apellido", [(ngModel)]="usuario.apellido",  name="apellido")
                    mat-form-field
                        input(matInput, placeholder="Correo", [(ngModel)]="usuario.correo",  name="correo")
                .btn-guardar-inversionista
                    button(mat-raised-button (click)="guardarUsuario()", *ngIf="!valid") Guardar

          
