@import  '../../../../../defaults.styl'
.ficha
    border 1px solid
    .proyecto
        position relative
        .circulo-porcentaje
            position absolute
            border 1.5px solid #00838e
            border-radius 40px
            top 22px
            right 24px
            width 50px
            height 50px
            display flex
            justify-content center
            align-items center
            background-color white
            z-index 10
        .ubicacion
            height 50px
            display flex
            flex-direction column
            justify-content space-between
            h4
                margin 0
                font-size 14px
                margin-left 10px
                margin-top 3px
            .mat-progress-bar 
                &.mat-warn 
                    .mat-progress-bar-fill 
                        &::after 
                            background-color #00838e
                    .mat-progress-bar-buffer 
                        background-color #dff3fd
        .portada
            width 290px
            height 217px
            img
                width 100%
                height 100%
        .titulo
            display flex
            height 50px
            justify-content center
            align-items center
            background-color rgba(220,220,220,0.4)
            h3
                font-size 15px
                margin 0
        .info-basica
            margin-top 10px
            p
                margin 0
                margin-bottom 5px
                font-size 12px
                margin-left 10px