@import  '../../../../../defaults.styl'
.ficha
    margin-top 10px
    &:hover
        cursor pointer
    .proyecto
        display flex
        flex-direction column
        justify-content center
        align-items center
        .info-basica
            width 80%
            text-align justify