
@import  '../../../../defaults.styl'
.seccion-usuarios
    display flex
    flex-direction column
    justify-content center
    .titulo-proyectos
        display flex
        flex-direction row
        justify-content space-between
        align-items center
        buscadorusuarios
            width 100%