.slider-proyectos-relacionados
    h3 Tambien puedes invertir en estos proyectos
    .slider(*ngIf="proyectos")
        ngx-slick.carousel(#slickModal="slick-modal",   [config]="slideConfig",  (afterChange)="afterChange($event)"  )
            .slide(ngxSlickItem,  *ngFor="let proyecto of proyectos.items ; index as i ")
                fichaProyectoMain([proyecto]="proyecto")
// mat-paginator([length]="proyectos.items.length", [pageSize]="10", [pageSizeOptions]="[5, 10, 25, 100]")
