@import  '../../../../defaults.styl'
.proyectos
    display flex
    flex-direction row
    justify-content center
    align-items flex-start
    filtrosProyectos
        width 20%
    gridProyectosMain
        width 70%