section
    .filtros-home
        button(mat-button) Todos
        button(mat-button) Vigentes
        button(mat-button) Proximos
        button(mat-button) Terminados
    .barra
    .proyectos
        filtrosProyectos
        gridProyectosMain
        