@import '../../../../defaults.styl'

.login, .registro
    height 100%
    width 100%
    display flex
    justify-content center
    align-items center
    form
        display flex
        flex-direction column
        height auto
        width 100%
        .contenido
            display: flex
            flex-direction: column;
            .linea
                display: flex
                mat-form-field
                    &.first-child
                        margin-right 5px
                    &.last-child
                        margin-left 5px
            .linea-contratista
                display flex
                flex-direction column
                justify-content center
                margin-bottom 10px
                p
                    margin 0
                    font-size 10px
                    color gray
                mat-checkbox
                    span
                        font-size 14px
                        color gray
            mat-form-field
                width 100%
                padding 0px
.social, .boton
    display flex
    margin 5px 0
    a, button
        width 100%
.social
    &.first-child
        margin-left 5px
    &.last-child
        margin-right 5px

.alternativa
    display inline-flex
    width 90%
    margin 20px 5%
    &:after, &:before
    	width 100%
    	border-top 2px solid azul
    	margin 15px 0px
    	content ''
    .circle
    	margin auto
    	border 2px solid azul
    	border-radius 50px
    	min-width 20px
    	height 20px
    	padding 3px
    	text-align center
    	display flex
    	p
    		margin auto
