@import  '../../../../../defaults.styl'
.relacionados-individual-container
    height 580px
    margin-top 60px
    .relacionados-individual-content
        height 580px
    .btn-proyectos-individual
        width 100%
        display flex
        justify-content center
        align-items center
        .btn-proyectos-rapido
            width 198px
            background-image linear-gradient(to right, #003B94 , #009A8C)
            margin-bottom 30px
            span
                font-size 21px
                color white
                font-weight bold