.home-container
    .home-content
            slider
            seccionTotales
            seccionProyectos
            seccionGraficas
            sliderCasosExitos
            seccionGaleria
            seccionRegistro