section
    .container
        .content
            slider
            seccionTotales
            seccionProyectos
            seccionGraficas
            sliderCasosExitos
            seccionGaleria
            seccionRegistro