
section
    .container
        .content
            mat-card.componente([ngStyle]="borde")
                mat-toolbar
                    mat-toolbar-row(style="justify-content : space-between")
                        .titulo
                            h3 proyectos
                            strong Vista
                .titulo-proyectos
                    buscadorproyectos
                    a(mat-button, (click)="nuevoProyecto()")
                        mat-icon add
                listaProyectos
                