@import  '../../../../defaults.styl'
.componente
    display flex
    flex-direction row
    justify-content center
    min-height 80vh
    .contenedor-izquierdo
        width 50%
        display flex
        flex-direction column
        align-items center
    .contenedor-derecho
        width 50%
        display flex
        flex-direction column
        align-items center
        .foto-perfil
            .foto-contratista
                .imagen-container
                    .imagen
                        width 250px
                        height 250px
                        border-radius 128px
                        overflow hidden
                        img
                            width 100%
                            height 100%