
.autocomplete
    form(class="example-form", [formGroup]='formulario')
        mat-form-field
            input(matInput, placeholder="Busca un buscadorContratistas   ", [matAutocomplete]="auto", formControlName='input')

    mat-autocomplete(#auto="matAutocomplete")
        mat-option(*ngIf="isLoading", class="is-loading")
            mat-spinner(diameter="50")
        ng-container(*ngIf="!isLoading")
            mat-option(*ngFor="let item of itemsfiltrados", [value]="item")
                span {{ item.nombre }} 