@import  '../../../../../../defaults.styl'
.componente, .imagen-container
    display flex
    justify-content center
    align-items center
    .imagen-container
        flex-direction column
        .imagen
            width 200px
            height 200px
            border-radius 49%
            overflow hidden
            img
                width 100%
                height 100%
        