
mat-card.componente
    form(class="example-form")
            mat-form-field
                input(matInput, placeholder="Monto", [(ngModel)]="inversionista.monto",  name="monto")
    button(mat-raised-button (click)="aceptar()") Aceptar
