main
    header
        mat-toolbar
            button.logo(mat-button (click)="ir('')")
                .logo-content
                    img(src="assets/images/simple.png")
            .links
                div(*ngFor="let link of navLinks" )
                    button(mat-button, [routerLink]="link.path" ) {{link.label}}
            .menu
                button(mat-button) Iniciar sesion
                    mat-icon exit_to_app
        
    .contenido
        router-outlet
    footer
        .footer
            .derechos
                img(src="assets/images/loguito.png")
                p 2018 Es Simple todos los derechos reservados
            .contactos
                .correo
                    mat-icon mail
                    p es.simplecrowd@outlook.com
                .telefono
                    mat-icon phone
                    p (229) 286 20 03
            .vacio
