@import  '../../../defaults.styl'
header
    height 80px !important

    mat-toolbar
        height 80px
        display flex
        justify-content space-around
        padding 0 10vw
        .logo
            display flex
            justify-content center
            align-items center
            .logo-content
                display flex
                img
                    height 63px
                    width auto
                h1
                    color gray
        .links,.menu
            display flex
    button
        color gray


footer
    .footer
        height 80px !important
        background-image linear-gradient(to right, #003B94 , #009A8C) !important
        display flex
        flex-direction row
        justify-content space-around
        align-items center
        .derechos, .contactos, .correo, .telefono
            display flex
            flex-direction row
            justify-content center
            align-items center