video( *ngIf="url" id="vid{{id}}" , [ngClass]="{'normal': esBackgraound==false, 'backgraund': esBackgraound==true }", class=" video-js vjs-default-skin" controls)
button(mat-icon-button, *ngIf="button", (click)="selectVideo()", [ngStyle]="{'background-color':'red'}").botoneliminar
    mat-icon delete


