
.proyectos-container
    .proyecto(*ngFor="let proyecto of proyectos")
        .imagen
            img(src="{{proyecto?.portadas[1]?.link}}")
        .texto
            h1 ....................................................................................{{proyecto?.nombre}}
            p ......................................................................................................................${{proyecto?.meta}}
            p ......................................................................................................................${{proyecto?.minimo}}
            p ......................................................................................................................{{proyecto?.plazo}} meses
            p ......................................................................................................................{{proyecto?.rendimiento}}%
            p ......................................................................................................................{{proyecto?.retorno}}%
