@import  '../../../../../../defaults.styl'
.componente
    position relative
    .boton-editar
        position absolute
        right 0
        a
            background-color orange
            span
                font-size 14px
                color white
    .formulario
        margin-top 40px
        display flex
        flex-direction column
    .btn-guardar
        display flex
        justify-content center
        align-items center
        button
            background-color #408c40
            span
                font-size 14px
                color white
