@import  '../../../../../defaults.styl'
.filtros-container
    border 2px solid #00838e
    margin-top 11px
    .filtros-content
        display flex
        flex-direction column
        justify-content center
        align-items center 
        .rendimientos
            width 100%
            h3
                margin-left 20px
            .slider-rendimientos
                display flex
                flex-direction row
                justify-content center
                align-items center
        .plazo
            width 100%
            h3
                margin-left 20px
            .slider-plazo
                display flex
                flex-direction row
                justify-content center
                align-items center