@import  '../../../../../defaults.styl'
.filtros-container
    .filtros-content
        display flex
        flex-direction column
        justify-content center
        align-items center 
        .rendimientos
            .slider-rendimientos
                display flex
                flex-direction row
                justify-content center
                align-items center
        .plazo
            .slider-plazo
                display flex
                flex-direction row
                justify-content center
                align-items center