.preguntas-container
    mat-accordion
        mat-expansion-panel
            mat-expansion-panel-header
                mat-panel-title
                    h4 ¿En qué consiste invertir en Es Simple?
            .respuesta
                p M2CROWD te permite invertir en bienes raíces en tres sencillos pasos y con un capital mínimo, dando acceso al negocio inmobiliario a apequeños y medianos inversionistas interesados en construir un solido portafolio de activos tangibles que han aprobado nuestro riguroso proceso de evalucación
        mat-expansion-panel
            mat-expansion-panel-header
                mat-panel-title
                    h4 ¿Qué impuesto pago?
            .respuesta
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea veniam nisi facilis provident officia placeat quam, earum unde velit odit nam animi ipsa mollitia eos voluptatum dolore ratione! Qui, culpa?
        mat-expansion-panel
            mat-expansion-panel-header
                mat-panel-title
                    h4 ¿Cómo se que mi dinero esta seguro?
            .respuesta
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea veniam nisi facilis provident officia placeat quam, earum unde velit odit nam animi ipsa mollitia eos voluptatum dolore ratione! Qui, culpa?
        mat-expansion-panel
            mat-expansion-panel-header
                mat-panel-title
                    h4 ¿Dónde va mi dinero al invertir en Es Simple?
            .respuesta
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea veniam nisi facilis provident officia placeat quam, earum unde velit odit nam animi ipsa mollitia eos voluptatum dolore ratione! Qui, culpa?
        mat-expansion-panel
            mat-expansion-panel-header
                mat-panel-title
                    h4 ¿M2CROWD recibe efectivo?
            .respuesta
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea veniam nisi facilis provident officia placeat quam, earum unde velit odit nam animi ipsa mollitia eos voluptatum dolore ratione! Qui, culpa?
        mat-expansion-panel
            mat-expansion-panel-header
                mat-panel-title
                    h4 ¿Qué puedo hacer si no tengo cuenta de cheques?
            .respuesta
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea veniam nisi facilis provident officia placeat quam, earum unde velit odit nam animi ipsa mollitia eos voluptatum dolore ratione! Qui, culpa?
        mat-expansion-panel
            mat-expansion-panel-header
                mat-panel-title
                    h4 ¿Qué sucede si no se cumple la meta de inversión en el proyecto que elegí?
            .respuesta
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea veniam nisi facilis provident officia placeat quam, earum unde velit odit nam animi ipsa mollitia eos voluptatum dolore ratione! Qui, culpa?                    